services:
  - type: web
    name: game-zone
    runtime: node
    plan: free
    region: oregon
    numInstances: 1
    buildCommand: npm install && cd server && npm install && cd .. && npm run build
    startCommand: node server/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 20.11.0
